body {
    font-family: 'Ubuntu';
    }

.header-container {
    display: flex;
    align-items: center; /* Vertically centers items */
}
.header-container img {
    width: 100px; /* Adjust the size as needed */
    margin-right: 10px; /* Space between image and text */
}
.header-container h1 {
    margin: 10; /* Remove default margin */
}