
body {
    display: flex;
    font-family: 'Ubuntu';
    background-color: #58598a;
    margin: 0;
    padding: 0;
    font-size: 16px;
}


.wrapper {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    gap: 10px;
    
}

.container {
    display: flex;
    flex-direction: column;

}

#left {
    flex: 1;
    color: white;
    display: flex;
    max-width: 400px;
}

#right {
    flex: 3;
    max-width: 2200px;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.logo img {
    width: 100px;
    margin: 10px;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#name_wrapper {
    justify-content: center;
}

#dropzone_wrapper {
    align-items: center;
    justify-content: center;
}

#my-awesome-dropzone {
    border-color: white;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table_wrapper {
    font-size: 20px;
}

